---
import Layout from '../layouts/Layout.astro';
import Blog from '../components/blog.astro';
---

<Layout title="projects">
	<main>
            <h4>
                welcome to my projects page!
            </h4>
            <h2>below will be a list of my finished, or unfinished projects. Feel free to take a look!</h2>
        
            <h2>-a website page-</h2>
            <div class="boxL" onmouseover="item_hover('I made a countdown using javascript, this was my first project in js','item0')" onmouseleave="item_hover('The coundown until i finnaly get to leave school','item0')">
                <a href="/projects/free">
                    <h2 id="item0">The coundown until i finnaly get to leave school</h2>
                </a>    
            </div>
            <div class="boxL" onmouseover="item_hover('this does the same thing as the python version, yet it is more accessable as it is on the web','item1')" onmouseleave="item_hover('my encryption format but in js and on my website!','item1')">
                <a href="/projects/3/">
                    <h2 id="item1">my encryption format but in js and on my website!</h2>
                </a>              
            </div>
            <div class="boxL" onmouseover="item_hover('honestly, even im not exactly sure what kind of music it is','item2')" onmouseleave="item_hover('my spotify playlist!','item2')">
                <a href="/projects/spotify/">
                    <h2 id="item2">my spotify playlist!</h2>
                </a>              
            </div>
            <div class="boxL" onmouseover="item_hover('I made an odd version of hangman in js, hope you like it!','item3')" onmouseleave="item_hover('A game of hang man i think (this only works if you have a physical keyboard)','item3')">
                <a href="/projects/hangman">
                    <h2 id="item3">A game of hang man i think (this only works if you have a physical keyboard)</h2>
                </a>    
            </div>

            <h2>-not a website page-</h2>
            
            <div class="boxL" onmouseover="item_hover('here is the beta design for the player character','item4')" onmouseleave="item_hover(' character design!','item4')">
                <a href="/images/player.png">
                    <h2 id="item4">character design!</h2>
                </a>              
            </div>
            <div class="boxL" onmouseover="item_hover('here is an odd little animation of the player character I made! (shhhhhhhhhhh pg 13)','item5')" onmouseleave="item_hover('an animation of the character!','item5')">
                <a href="/images/player.gif">
                        <h2 id="item5">an animation of the character!</h2>
                </a>              
            </div>
            <h2><span id="repocount"></span> -github repositories-</h2>
            <div id="github"></div>
	</main>
</Layout>

<style>
	main {
    	list-style-type: none;
	}
</style>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" is:inline></script>
<script is:inline type="text/javascript">
    function item_hover(description, ids){
        document.getElementById(ids).innerHTML = description
    }

    user = 'roxcelic'
    apirepo = `https://api.github.com/users/${user}`

    listrepos = document.createElement('a')
    document.getElementById('github').appendChild(listrepos)
    $.getJSON(apirepo + '/repos', function (data) {

        function compare(a, b) {
            if (a.watchers > b.watchers) {
                return -1
            }
            if (a.watchers < b.watchers) {
                return 1
            }
            return 0
        }

        data.sort(compare)
        data.forEach(v => {

            listItemRepo = document.createElement('div');
            listrepos.appendChild(listItemRepo);
            listItemRepo.className = "boxL";
            listItemRepo2 = document.createElement('h2');
            lhref = document.createElement('a');
            listItemRepo2.id = `${v.name}`;
            lhref.style.color = 'white';
            listItemRepo2.appendChild(lhref);
            listItemRepo.appendChild(listItemRepo2);
            lhref.textContent = `${v.name}`;
            lhref.href = v.html_url;

            listItemRepo.addEventListener("mouseover",() =>  item_hover(`${v.description}`, `${v.name}`))
            listItemRepo.addEventListener("mouseleave",() =>  item_hover(`${v.name}`, `${v.name}`))
        })
    })
</script>
<style>

</style>