---
import Layout from '../layouts/Layout.astro';
const allPosts = await Astro.glob('../pages/story/*.md');
import BlogPost from '../components/blog.astro';
---

<Layout title="roxie!">
	<main>
        <h2 id="curr"></h2>
        <div class="block">
            <a id="link">
                <div class="image" id="image"></div>
            </a>
            <h2 id="song">
                this page will be used for my socials or my school stuff, just kinda me. and if im listening to anything itll show up here so
            </h2>
        </div>
        <div class="lineline"></div>
        <h2>
            hey so if your here youll wanna hear about me, roxie. I like to think im pretty cool but theres not much evidence for that
            im pretty average by most accounts but to me I know theres a lot I can do and I hope I can show you that too, so please
            have fun (:
        </h2>
        <div class="lineline"></div>
        <h2>
            since you all know im almost done with school, ive got my final exam dates and so here they are:<br><br>

            Fri 10/05/2024 - 9:30 - 75 mins - combine science trillogy Biology P1H<br><br>

            Mon 13/05/2024 - 09:30 - 105 mins - English Literature Paper 1<br>
            Wed 15/05/2024 - 13:30 - 90 mins - Principle of Comp.sci<br>
            Thu 16/05/2024 - 09:30 - 90 mins - Mathamatics paper 1 Tier H<br>
            Fri 17/05/2024 - 09:30 - 75 mins - combined Science trillogy chemestry P!H<br><br>

            Mon 20/05/2024 - 09:30 - 135 mins - English lit Paper 2<br>
            Tue 21/05/2024 - 13:30 - 120 mins - Application comp. thinking<br>
            Wed 22/05/2024 - 09:30 - 75 mins - combined Science trillogy Physicis P1H<br>
            Thu 23/05/2024 - 09:30 - 105 mins - English language paper 1<br><br>

            Mon 03/06/2024 - 09:30 - 90 mins - Mathamatics Paper 2 Tier H<br>
            Thu 06/06/2024 - 09:30 - 105 mins - English language paper 2<br>
            Fri 07/06/2024 - 13:30 - 75 mins - combined science trillogy Biology P2H<br><br>

            Mon 10/06/2024 - 09:30 - 90 mins - Mathamatics Paper 3<br>
            Tue 11/06/2024 - 09:30 - 75 mins - combined science trillogy chemestry P2H<br>
            Fri 14/06/2024 - 13:30 - 75 mins - combined science trillogy Physicis P2H<br><br>

            Mon 17/06/2024 - 13:30 - 90 mins - Music written paper<br>
        </h2>
        <div class="lineline"></div>

        <h5>this is a countdown until I get to leave school and be myself forever</h5>
        <h5>21/06/2024 or for you americans 06/21/2024</h5>

        <h4 id="free">lets go home now<br> a countdown until the last second im legally obligated to go to high school</h4>

        <div class="timer">
            <div>
                <span><h4>days</h4></span>
                <h4><p id="days">00</p></h4>
            </div>
            <div>
                <span><h4>hours</h4></span>
                <h4><p id="hours">00</p></h4>
            </div>
            <div>
                <span><h4>minutes</h4></span>
                <h4><p id="minutes">00</p></h4>
            </div>
            <div>
                <span><h4>seconds</h4></span>
                <h4><p id="seconds">00</p></h4>
            </div>
        </div>

        <h5>this is a countdown until the next 'big' date, the dates are:</h5>
        <h4>28/03/2024 - 15/04/2024 - 24/05/2024 - 03/06/2024 - 21/06/2024</h4>
        <div class="timer2">
            <div class="timer">
                <div>
                    <h4>days</h4>
                    <h4><p id="days2">00</p></h4>
                </div>
                <div>
                    <span><h4>hours</h4></span>
                    <h4><p id="hours2">00</p></h4>
                </div>
                <div>
                    <span><h4>minutes</h4></span>
                    <h4><p id="minutes2">00</p></h4>
                </div>
                <div>
                    <span><h4>seconds</h4></span>
                    <h4><p id="seconds2">00</p></h4>
                </div>
            </div>
        </div>

        <div class="lineline"></div>

        <h4>
            what are you planning to do next?
        </h4>
        <h2>
            i think im going to focus on me for a while, to feel more comfortable with myself but ill still be updating here, cause its fun
        </h2>

        <div class="lineline"></div>
        <h4>socials!</h4>
        <h2>
            <a href="">
                discord - roxcelic #0001
            </a>
        </h2>
        <h2>
            <a href="https://github.com/roxcelic">
                github - roxcelic
            </a>
        </h2>
        <h2>
            <a href="https://open.spotify.com/user/onyc3nppnjac08vatfd8uulav">
                spotify - roxie
            </a>
        </h2>
        
        <div class="lineline"></div>

        <h2>
            i think im gonna start writing some short storys so watch out for them here ^^
            {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} dates={post.frontmatter.pubDate} desc={post.frontmatter.desc} />)}
        </h2>
	</main>
</Layout>

<style>
    .image{
        height: 0px;
        width: 0px;
        background-size: contain;
        display: inline-block;
    }
</style>
<script is:inline type="text/javascript">
    //variables
    const userName = 'roxcelic';

	const apiKey = '3dcf918393b09a296cdf261dea478a1f';

    let urls = document.getElementById("link");

    let images = document.getElementById("image");

	let song = document.getElementById("song");

    let curr = document.getElementById("curr");

    //text stuff
    function item_hover(description, ids) {
        document.getElementById(ids).innerHTML = description;
    }

    //song data!
    let x = setInterval(function(){
		fetch(`https://ws.audioscrobbler.com/2.0/?method=user.getRecentTracks&user=${userName}&api_key=${apiKey}&format=json`)
  			.then(response => response.json())
  			.then(data => {
    		let track = data.recenttracks.track[0];
    		if (track['@attr'] && track['@attr']['nowplaying']) {
                let url = track.url;
                let image = track.image[3]['#text'];
      			let songName = track.name;
      			let artistName = track.artist['#text'];
				song.innerHTML = (`${songName} - ${artistName}`);
                curr.innerHTML = ('roxie is currently listening to:');
                images.style.width="20vh";
                images.style.height= "20vh";
                images.style.backgroundImage=`url(${image})`;
                images.style.border = "3px solid rgb(245, 122, 169)";
                urls.href = (url);
    		} else {
      			console.log('Not currently playing any track.');
				song.innerHTML = ('this page will be used for my socials or my school stuff, just kinda me. and if im listening to anything itll show up here so');
                curr.innerHTML = ('')
                images.style.width="0vh";
                images.style.height= "0vh";
                images.style.backgroundImage="";
                images.style.border = "";
    		}
  		})
  		.catch(error => {
    		console.error('Error fetching data from Last.fm:', error);
  		});
	},1000);

    let countDownDate = new Date(Date.UTC (2024, 5, 21, 14, 55, 0)).getTime();
        new Date(new Date().toLocaleString('en', {timeZone: 'America/New_York'}))
        
        let x3 = setInterval(function(){
            let now = new Date().getTime();
            let distance = countDownDate - now;
        
            if (distance > 0){
                let weeks = Math.floor(distance / (1000 * 60 * 60 * 24 * 7));
                let days = Math.floor(distance / (1000 * 60 * 60 * 24));
                let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                let seconds = Math.floor((distance % (1000 * 60)) / 1000);

                document.getElementById("days").innerHTML = days
                document.getElementById("hours").innerHTML = hours
                document.getElementById("minutes").innerHTML = minutes
                document.getElementById("seconds").innerHTML = seconds
            } if (distance = 0 || distance < 0){
                document.getElementById("days").innerHTML = 0
                document.getElementById("hours").innerHTML = 0
                document.getElementById("minutes").innerHTML = 0
                document.getElementById("seconds").innerHTML = 0
                document.getElementById("free").innerHTML = ("IM FREE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
            }
        },1000);

        let countDownDate2 = new Date(Date.UTC (2024, 2, 28, 14, 55, 0)).getTime();
        new Date(new Date().toLocaleString('en', {timeZone: 'America/New_York'}))
        let x2 = setInterval(function(){
            let now2 = new Date().getTime();
            let distance = countDownDate2 - now2;
        
            if (distance > 0){
                let days = Math.floor(distance / (1000 * 60 * 60 * 24));
                let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                let seconds = Math.floor((distance % (1000 * 60)) / 1000);

                document.getElementById("days2").innerHTML = days
                document.getElementById("hours2").innerHTML = hours
                document.getElementById("minutes2").innerHTML = minutes
                document.getElementById("seconds2").innerHTML = seconds
            } if (distance = 0 || distance < 0){
                document.getElementById("days2").innerHTML = 0
                document.getElementById("hours2").innerHTML = 0
                document.getElementById("minutes2").innerHTML = 0
                document.getElementById("seconds2").innerHTML = 0
                document.getElementById("free").innerHTML = ("finnaly I have a break, also ive probably forgotten to update this just now")
            }
        },1000);

</script>
<style>
    .lineline{
        left: 10%;
        margin: 1%;
        display: inline-block;
        height: 2.5px;
        width: 80%;
        background-color: white;
    }
</style>