---
interface Props {
	hey: string;
}

const {hey} = Astro.props;
---
<div class="dropdown-box">
	<div class="dropdown-view">
		<div class="end2" onclick="getclickedboi('dropdown')">
			<span class="material-symbols-outlined md">menu</span>
		</div>

		<div class="box">
			<a href="/"><h3>home</h3></a>
			<div class="vertical-row"></div><a href="/blog/"><h3>blog</h3></a>
			<div class="vertical-row"></div><a href="/projects/"><h3>projects</h3></a>
			<div class="vertical-row"></div><a href="/roxie/"><h3>roxie!</h3></a>
		</div>
	</div>
	<div class="dropdown-content" id="dropdown">
		<h2>{hey}</h2>
		<div class="lineline"></div>
        <h2 id="curr"></h2>
        <div class="block">
			<h2 id="song">
                roxie is currently not listening too or watching anything
			</h2>
			<h2>
                <a id="link"><div class="image" id="image"></div></a>
			</h2>
        </div>
		<div class="lineline"></div>
		<h4>my friends</h4>
		<div class="woo">
			<div class="pixlated"><a href="https://roxcelic.love"> <img src="../images/88-31.gif"></a></div>
			<div class="pixlated"><a href="https://marsh.zone"> <img src="https://marsh.zone/images/88x31.png"></a></div>
		</div>
		<div class="lineline"></div>
	</div>
</div>

<script is:inline>

	const userName = 'roxcelic';

	const apiKey = '3dcf918393b09a296cdf261dea478a1f';

	let urls = document.getElementById("link");

	let images = document.getElementById("image");

	let song = document.getElementById("song");

	let curr = document.getElementById("curr");

	var current = "";
	var has = "";
	var extra = 0;

	let x = setInterval(function(){
		fetch(`https://ws.audioscrobbler.com/2.0/?method=user.getRecentTracks&user=${userName}&api_key=${apiKey}&format=json`)
		  	.then(response => response.json())
		  	.then(data => {
				let track = data.recenttracks.track[0];
				if (track['@attr'] && track['@attr']['nowplaying']) {
				let url = track.url;
				let image = track.image[3]['#text'];
			  	let songName = track.name;
			  	let artistName = track.artist['#text'];
				song.innerHTML = (`${songName} - ${artistName}`);
				curr.innerHTML = ('roxie is currently listening to:');
				images.style.width="10vh";
				images.style.height= "10vh";
				images.style.backgroundImage=`url(${image})`;
				images.style.border = "3px solid rgb(245, 122, 169)";
				urls.href = (url);

				/*height changer thing*/
				current = "True";

			} else {
				song.innerHTML = ('roxie is currently not listening too or watching anything');
				curr.innerHTML = ('')
				images.style.width="10vh";
				images.style.height= "10vh";
				images.style.backgroundImage="";
				images.style.border = "";

				/*height changer thing*/
				current = "False";
			}
	  	})
	  	.catch(error => {
			console.error('Error fetching data from Last.fm:', error);
	  	});
	},1000);

	function getclickedboi(id){
        let cu = document.getElementById(id);
        console.log(cu.style.height);
        if (cu.style.height){
            console.log("hey");
            cu.style.height = ("");
        }
        else{
            if(!cu.style.height){
                console.log("bye");
                console.log(cu.scrollHeight,"px");
                cu.style.height = (cu.scrollHeight + "px");
            }
        }
    }
</script>