---
interface Props {
	hey: string;
}

const {hey} = Astro.props;
---
<div class="wrapper">
	<div class="inner">
		<h2>hey</h2>
		<h2>hey</h2>
		<h2>hey</h2>
		<h2>hey</h2>
		<h2>hey</h2>
		<h2>hey</h2>
	</div>
  </div>
  

<script is:inline>
	var body = document.body,
    	html = document.documentElement;

	let el = document.querySelector('.box2');
	let height = el.scrollHeight;
	el.style.setProperty('--max-height', height + 'px');

	const userName = 'roxcelic';

	const apiKey = '3dcf918393b09a296cdf261dea478a1f';

	let urls = document.getElementById("link");

	let images = document.getElementById("image");

	let song = document.getElementById("song");

	let curr = document.getElementById("curr");

	let box = document.getElementById("curr");

	var current = "";
	var has = "";
	var extra = 0;

	let x = setInterval(function(){
		fetch(`https://ws.audioscrobbler.com/2.0/?method=user.getRecentTracks&user=${userName}&api_key=${apiKey}&format=json`)
		  	.then(response => response.json())
		  	.then(data => {
				let track = data.recenttracks.track[0];
				if (track['@attr'] && track['@attr']['nowplaying']) {
				let url = track.url;
				let image = track.image[3]['#text'];
			  	let songName = track.name;
			  	let artistName = track.artist['#text'];
				song.innerHTML = (`${songName} - ${artistName}`);
				curr.innerHTML = ('roxie is currently listening to:');
				images.style.width="10vh";
				images.style.height= "10vh";
				images.style.backgroundImage=`url(${image})`;
				images.style.border = "3px solid rgb(245, 122, 169)";
				urls.href = (url);

				/*height changer thing*/
				current = "True";
				x2();

			} else {
				song.innerHTML = ('roxie is currently not listening too or watching anything');
				curr.innerHTML = ('')
				images.style.width="0vh";
				images.style.height= "0vh";
				images.style.backgroundImage="";
				images.style.border = "";

				/*height changer thing*/
				current = "False";
				x2();
			}
	  	})
	  	.catch(error => {
			console.error('Error fetching data from Last.fm:', error);
	  	});
	},1000);
</script>