---
const { frontmatter } = Astro.props;
import Box from '../components/Card.astro';
import '../res/css/style.css';
import '../res/css/base.css';
import '../res/css/media.css';
import '../res/js/set.js';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="the worlds coolest website (because it was made by me)" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="https://avatars.githubusercontent.com/u/157179472?v=4">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
    </head>

    <Box
	    hey={frontmatter.desc}
    />

    <div class="mainBox">
        <div class="pictureBox"></div>
		<a href="https://github.com/roxcelic">
			<div class="roundThing"></div>
		</a>
        <h4>{frontmatter.title}</h4>
        <h2>
            <p>Written by {frontmatter.author}</p>
            description and credits (careful it moves):<br>
            <marquee>
                <p><div class="boxs2">{frontmatter.desc}{frontmatter.credits}</div></p>
            </marquee>
            <div class="text"><slot /></div>
        </h2>
    </div>

    <style>
        .text{
            color: var(--font);
            font-size: 1rem;
        }
        .boxs{
            font-size: 0.75rem;
            color: white;
        }
    </style>
</html>