---
const { frontmatter } = Astro.props;
import Box from '../components/Card.astro';
import Bar from '../components/bar.astro';
import '../res/css/style.css';
import '../res/css/base.css';
import '../res/css/media.css';
import '../res/js/set.js';
---
<!doctype html>
<html lang="en" id="c-text">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="the worlds coolest website (because it was made by me)" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="https://avatars.githubusercontent.com/u/157179472?v=4">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
    </head>

    <body>
        <h2>
            <Box
	            hey={frontmatter.desc}
            />
        </h2>

        <div class="mainBox">
            <div class="pictureBox"></div>
		    <a href="https://github.com/roxcelic">
			    <div class="roundThing"></div>
		    </a>
            <h4>{frontmatter.title}</h4>
            <h2>
                <p>Written by {frontmatter.author}</p>
                description and credits<br>
                    <p>{frontmatter.desc}{frontmatter.credits}</p>
                <div class="text"><slot /></div>
            </h2>
        </div>
        <Bar
			title = {frontmatter.title}
		/>

        <style>
            .text{
                color: var(--font);
                font-size: 1rem;
            }
            .boxs{
                font-size: 0.75rem;
                color: white;
            }
        </style>
    </body>
</html>